<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a href="./">civic.bot</a>
    </header>
    <hr>
    <nav>
      <a href="./bodies.html">Bodies</a>
      <a href="./events.html">Events</a>
    </nav>
    <h1>{{ page.jurisdiction }}</h1>
    <h2>{{ page.title }}</h2>
    <section>
      {{ content }}
    </section>
    <hr>
    <footer>
      civic.bot
    </footer>
  </body>
</html>
